spring:
  datasource:
    url: jdbc:h2:mem:webhookdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  liquibase:
    enabled: true
    # se seu changelog já está no classpath, não precisa setar
    # change-log: classpath:db/changelog/db.changelog-master.yml